.info-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.info-container {
  display: flex;
  justify-content: space-evenly;
  border-radius: 50px;
  border: 2px solid #80b180;
    padding: 2rem 2rem;
  margin: 0 4rem;
  background-image: url(./expense-background.png);
  background-size: cover;
  background-position: center center;
  background-color: #5a975ac9;
  gap: 1rem;
}

.info {
  background-color: white;
  padding: 2rem 2rem;
  border-radius: 50px;
  border: 2px solid #80b180;
  display:flex;
  flex-direction: column;
  opacity: .9;
}
  
.chart {
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 50px;
  border: 2px solid #80b180;
  padding: 2rem;
  opacity: .9;
}

.chart-text {
margin-top: 1rem;
}

.info-p1{
  margin:0;
  padding:0;
  font-size: 20px;
}

.info-p2{
  margin:0;
  padding:0;
  color: #80b180;
  font-size: 50px;
  font-weight: 700;
}

.info-p2:hover {
  color:#5a975a;
  cursor: pointer;
}


