/* USER DETAIL */

.user-page{
    display: flex;
    justify-content: center;
}

.user-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 2rem 0;
    border-radius: 50px;
    border: 2px solid #80B180;
    opacity: .9;
    width: 80%
}

.user-img {
    justify-content: center;
    border-radius: 50%;
}

button {
    background-color: #80B180;
    border-style: none;
    border-radius: 0.5rem;
    color: white;
    font-size: 1em;
    font-weight: 600;
    padding: 0.4rem .8rem;
    cursor: pointer;
    text-align: center;
    transition: all 0.2s ease-out;
    width: fit-content;
}

.user-img {
    display: flex;
    justify-content: center;
    border-radius: 50%;
    padding: 1rem;
}

.user-p{
    font-size: 18px;
}

.user-p2{
    font-size: 24px;
}


/* USER EDIT FORM */

.user-edit-form-container {
    display: flex;
    justify-content: center;
}

.user-edit-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    background-color: #80b1805c;
    padding: 4rem 0;
    border-radius: 50px;
    border: 2px solid #80B180;
    width: 80%;
}