.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* TOP NAV BAR */

.navbar-container {
  display: flex;
  justify-content: space-around;
  padding-top: 1rem;
  padding-bottom: 2rem;

}

.left-container {
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  gap: 3rem;
  padding-top: 1rem;
  size: 30%;
}

.right-container {
  display: flex;
  justify-content: space-between;
  align-content:space-between;
  gap: 3rem;
  size: 30%;
}

.logo {

  size: 40%;
  align-content: center;
  align-self: center;
  align-items: center;
  padding-left: 5rem;
}



/* BOTTOM NAV BAR */

.info-details {
  margin-bottom: 5rem;
}

.info-container {
  display: flex;
  justify-content: space-around;
}

.info {
  padding: 5rem;
  background-color: #FFBE05;
}

.chart {
  background-color: lightgray;
  margin: 5rem;
  margin-top: 1rem;
  padding-left: 5rem;
  padding-right: 5rem;
}


/* FOOTER */

