.App {
  text-align: center;
  min-height: 100vh;
  margin: 0;
  font-family: 'Geneva';
  flex-wrap: wrap;
}

/* TOP NAV BAR */

.navbar-container {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
  padding-bottom: 2rem;
  margin-left: 20px;
  margin-right: 20px;
}

.left-container {
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  gap: 3rem;
  padding-top: 1rem;
  size: 30%;
}

.right-container {
  display: flex;
  justify-content: space-between;
  align-content:space-between;
  gap: 3rem;
  size: 30%;
}

.logo {

  size: 40%;
  align-content: center;
  align-self: center;
  align-items: center;
  padding-left: 5rem;
}



/* BOTTOM NAV BAR */

.info-details {
  margin-bottom: 5rem;
}

.info-container {
  display: flex;
  justify-content: space-around;
}

.info {
  padding: 5rem;
  background-color: #FFBE05;
}

.chart {
  background-color: lightgray;
  margin: 5rem;
  margin-top: 1rem;
  padding-left: 5rem;
  padding-right: 5rem;
}


/* FOOTER */

.footer-container {
  display: flex;
  justify-content: space-between;
  position:sticky;
  margin-bottom: 0;
  padding-top: 3rem;
}

.footer-left-container {
  text-align: start;
  margin: 10px;
}

.rise {
  font-size:small;
}
.simple {
  font-size: smaller;
}

.footer-right-container {
  display: flex;
  justify-content: space-between;
  align-content: end;
  gap: 1rem;
  margin-right: 15px;
}

.small-print {
  font-size: xx-small;
  margin-left: 5px;;
  text-align: center;
}

li {
  list-style: none;
  padding-right: 3rem;
}