:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --fs-display-2xl: 5.625rem;
  --fs-display-xl: 4.5rem;
  --fs-display-lg: 3.75rem;
  --fs-display-md: 3rem;
  --fs-display-sm: 2.375rem;
  --fs-display-xs: 2rem;

  --fs-text-xl: 1.25rem;
  --fs-text-lg: 1.125rem;
  --fs-text-md: 1rem;
  --fs-text-sm: 0.875rem;
  --fs-text-xs: 0.75rem;

  --fw-normal: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;
}

:root {
  --background_color: #80b180;
  --logo_yellow: #FFBE00;
}


html {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-flow: column wrap;
  place-items: top;
  min-width: 320px;
  min-height: 100vh;
}

main {
  flex: 1;
}


img {
  max-width: 100%;
  height: auto;
}

.App {
  font-family: 'Geneva';
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  padding: 0 1.875rem;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* CONTAINER */

.container {
  max-width: 100%;
  margin: 0 auto;
}


/*  */
/* TOP NAV BAR */

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-container {
  display: flex;
  justify-content: space-between;
  width: 30%;
}

.right-container {
  display: flex;
  justify-content: space-between;
  width: 30%;
}


.home-link {
  padding: 0;
  margin: 0;
}

.link {
  color: black;
  font-weight: 900;
  text-decoration: none;
  border-radius: 10px;
}

.link:hover {
  color: #FFBE05;
}


/*  BOTTOM NAV BAR ICONS */

.navbar-bottom-container {
  display: flex;
  gap: 2rem;
  padding: 2rem;
  background-color: white;
  border-radius: 50px;
  opacity: .9;
}

.icon-container {
  display: flex;
  flex-direction: column;
}



/* FOOTER */

.footer-container {
  display: flex;
  justify-content: space-between;
  position: sticky;
  margin-bottom: 0;
  padding-top: 3rem;
}

.footer-left-container {
  text-align: start;
}

.rise {
  font-size: small;
  text-align: left;
  color: #FFBE05;
}

.simple {
  font-size: smaller;
  text-align: left;
}

.footer-right-container {
  display: flex;
  justify-content: space-between;
  align-content: end;
  gap: 1rem;
  margin-right: 20px;
}

.small-print {
  padding-top: 0.5rem;
  font-size: xx-small;
}

li {
  list-style: none;
}

.link-2 {
  color: black;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.link-2:hover {
  color: #FFBE05;
}


.form {
  justify-content: center;
}


.login-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 18px;
  border-radius: 50px;
  padding: 2rem;
  border: 2px solid #FFBE00;
  size: fit-content;
  justify-content: center;
  align-items: center;
  background-image: url(./expense-background.png);
  background-size: cover;
  background-position: center center;
  background-color: #5a975ac9;
  padding-top: 5rem;
  padding-bottom: 13rem;
}