:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --fs-display-2xl: 5.625rem;
  --fs-display-xl: 4.5rem;
  --fs-display-lg: 3.75rem;
  --fs-display-md: 3rem;
  --fs-display-sm: 2.375rem;
  --fs-display-xs: 2rem;

  --fs-text-xl: 1.25rem;
  --fs-text-lg: 1.125rem;
  --fs-text-md: 1rem;
  --fs-text-sm: 0.875rem;
  --fs-text-xs: 0.75rem;

  --fw-normal: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;
}

:root {
  --background_color: #80b180;
  --logo_yellow: #FFBE00;
}


html {
  scroll-behavior: smooth;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body, #root{
  display: flex;
  flex-flow: column wrap;
  place-items: top;
  min-width: 320px;
  min-height: 100vh;
}

img {
  max-width: 100%;
  height: auto;
}

.App {
  /* text-align: center; */
  min-height: 100vh;
  margin: 0;
  font-family: 'Geneva';
  /* flex-wrap: wrap; */
}

/* TOP NAV BAR */

.navbar-container {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  background-color: white;
}

.left-container {
  display: flex;
  justify-content: space-around;
  padding-top: 2rem;
  /* padding: 1rem; */
  /* gap: 2rem;  */
  width: 30%;
}

.right-container {
  display: flex;
  justify-content: space-around;
  padding-top: 2rem;
  /* padding: 1rem; */
  /* gap: 2rem; */
  width: 30%;
}

.logo {

  /* size: 40%; */
  /* align-content: center; */
  /* align-self: center; */
  /* align-items: center; */

}

.home-link{
  padding:0;
  margin:0;
}

.link {
  color: black;
  text-decoration: none;
}

.link:hover {
  color: #FFBE05;
}


/* FOOTER */

.footer-container {
  display: flex;
  justify-content: space-between;
  position:sticky;
  margin-bottom: 0;
  padding-top: 3rem;
}

.footer-left-container {
  text-align: start;
  margin: 10px;
}

.rise {
  font-size:small;
}
.simple {
  font-size: smaller;
}

.footer-right-container {
  display: flex;
  justify-content: space-between;
  align-content: end;
  gap: 1rem;
  margin-right: 15px;
}

.small-print {
  font-size: xx-small;
  margin-left: 5px;;
  text-align: center;
}

li {
  list-style: none;
  padding-right: 3rem;
}

.link-2 {
  color: #FFBE05;
  text-decoration: none;
}

.link-2:hover {
  color: black;
}